In [1]:
# Import libraries
import pandas as pd
import numpy as np
import quandl
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

C:\Users\nqabe\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Authenticate quandl api key
quandl_api_key = "Zmns8n4ypL4kRmFxnsxC"
quandl.ApiConfig.api_key = quandl_api_key

In [35]:
df = quandl.get('LBMA/GOLD') # London Gold Bullion Spot Price
df.rename(columns = {'Value':'Gold_Price_USD'}, inplace = True)

df = pd.merge(df, quandl.get('MULTPL/SHILLER_PE_RATIO_MONTH'), left_index = True, right_index = True)
df.rename(columns = {'Value':'Shiller_SP500_PE_Ratio'}, inplace = True)

df = pd.merge(df, quandl.get('MULTPL/SP500_INFLADJ_MONTH'), left_index = True, right_index = True)
df.rename(columns = {'Value':'SP500_INFL_ADJ'}, inplace = True)

In [36]:
df = df[['USD (AM)', 'Shiller_SP500_PE_Ratio', 'SP500_INFL_ADJ']]
df

            USD (AM)  Shiller_SP500_PE_Ratio  SP500_INFL_ADJ
Date
1968-02-01     35.20                   20.42          684.07
1968-03-01     35.20                   19.93          669.60
1968-04-01     38.00                   21.28          716.96
1968-05-01     39.10                   21.63          731.32
1968-07-01     40.90                   21.75          740.89
...              ...                     ...             ...
2020-05-01   1673.05                   27.34         2935.59
2020-06-01   1734.80                   28.84         3104.66
2020-06-30   1770.70                   29.07         3100.29
2020-07-01   1787.40                   29.73         3207.62
2020-07-31   1974.70                   30.49         3271.12

[407 rows x 3 columns]

In [37]:
df.index = pd.to_datetime(df.index)

In [39]:
df.groupby(pd.Grouper(freq='Y', closed='right')).head()

            USD (AM)  Shiller_SP500_PE_Ratio  SP500_INFL_ADJ
Date
1968-02-01     35.20                   20.42          684.07
1968-03-01     35.20                   19.93          669.60
1968-04-01     38.00                   21.28          716.96
1968-05-01     39.10                   21.63          731.32
1968-07-01     40.90                   21.75          740.89
...              ...                     ...             ...
2020-01-31   1580.85                   30.84         3225.04
2020-02-28   1626.35                   28.05         2954.81
2020-03-31   1604.65                   24.40         2584.59
2020-04-01   1594.25                   25.93         2777.14
2020-04-30   1716.75                   27.27         2912.43

[265 rows x 3 columns]

In [22]:
#World Bank Data - US
wb_us = pd.read_csv('data/US Annual WB Data - API_USA_DS2_en_csv_v2_1221790.csv')

In [23]:
wb_us

,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"Internally displaced persons, total displaced ...",VC.IDP.TOCV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Merchandise exports to low- and middle-income ...,TX.VAL.MRCH.R4.ZS,1.353226e+00,1.267256e+00,1.408316e+00,1.368049e+00,1.212713e+00,1.042295e+00,9.488776e-01,9.600981e-01,...,1.340316e+00,1.227240e+00,1.029658e+00,1.102117e+00,1.151186e+00,9.439891e-01,8.745644e-01,8.262374e-01,9.089511e-01,NaN
2,Export volume index (2000 = 100),TX.QTY.MRCH.XD.WD,5.220048e+01,5.345482e+01,5.579054e+01,5.845691e+01,6.361764e+01,6.933153e+01,7.315376e+01,8.010629e+01,...,1.328250e+02,1.425556e+02,1.480756e+02,1.518911e+02,1.566522e+02,1.550968e+02,1.547712e+02,1.610373e+02,1.678998e+02,NaN
3,Merchandise imports from low- and middle-incom...,TM.VAL.MRCH.R1.ZS,6.725563e+00,7.952199e+00,9.668897e+00,1.074194e+01,1.160866e+01,1.221233e+01,1.252990e+01,1.322388e+01,...,2.426726e+01,2.259052e+01,2.321984e+01,2.424050e+01,2.503274e+01,2.746250e+01,2.757925e+01,2.802152e+01,2.746287e+01,NaN
4,"Tariff rate, most favored nation, simple mean,...",TM.TAX.TCOM.SM.FN.ZS,3.540000e+00,3.570000e+00,3.580000e+00,3.620000e+00,NaN,4.020000e+00,4.020000e+00,4.340000e+00,...,3.170000e+00,3.210000e+00,2.970000e+00,2.950000e+00,2.940000e+00,2.990000e+00,3.020000e+00,5.290000e+00,5.540000e+00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372,"Portfolio equity, net inflows (BoP, current US$)",BX.PEF.TOTL.CD.WD,-1.596000e+10,1.042000e+10,-5.610000e+09,2.094000e+10,8.900000e+08,1.652300e+10,1.105700e+10,6.703300e+10,...,1.789530e+11,1.233570e+11,2.390640e+11,-6.264100e+10,1.543110e+11,-1.873070e+11,-1.397010e+11,1.496340e+11,1.423970e+11,-2.267990e+11
1373,"Grants, excluding technical cooperation (BoP, ...",BX.GRT.EXTA.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1374,"Foreign direct investment, net outflows (BoP, ...",BM.KLT.DINV.CD.WD,5.994000e+10,4.927000e+10,5.877000e+10,8.280000e+10,8.999000e+10,1.100600e+11,1.030200e+11,1.213800e+11,...,3.498280e+11,4.366160e+11,3.772400e+11,3.927960e+11,3.875290e+11,3.070560e+11,3.183180e+11,3.845720e+11,-7.845600e+10,1.976710e+11
1375,Crop production index (2004-2006 = 100),AG.PRD.CROP.XD,7.941000e+01,7.728000e+01,8.707000e+01,7.425000e+01,9.338000e+01,7.965000e+01,8.834000e+01,9.246000e+01,...,1.059200e+02,1.018100e+02,1.007800e+02,1.089500e+02,1.149500e+02,1.141200e+02,1.221900e+02,NaN,NaN,NaN
1376,Land under cereal production (hectares),AG.LND.CREL.HA,6.570000e+07,6.213108e+07,6.589040e+07,6.027383e+07,6.401742e+07,5.976655e+07,6.488103e+07,6.380341e+07,...,5.748370e+07,5.666863e+07,6.025327e+07,5.948680e+07,5.797903e+07,5.812107e+07,5.843880e+07,5.314916e+07,NaN,NaN